@model IEnumerable<FideGames.Models.clients>

@{
    ViewBag.Title = "ListaClients";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.exito == "" | ViewBag.exito == null)
{

}
else
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <span class="aria-hidden">@Html.ViewBag.exito</span>
    </div>

}
@if (ViewBag.error == "" | ViewBag.error == null)
{

}
else
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <span class="aria-hidden">@ViewBag.error</span>
    </div>

}

<div class="card-body card shadow mb-4">
    <style>
        .table-title {
            padding-bottom: 15px;
            background: #040FD9;
            color: #fff;
            padding: 16px 30px;
            min-width: 100%;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }

            .table-title h2 {
                margin: 5px 0 0;
                font-size: 24px;
            }

            .table-title .btn-group {
                float: right;
            }

            .table-title .btn {
                color: #fff;
                float: right;
                font-size: 13px;
                border: none;
                min-width: 50px;
                border-radius: 2px;
                border: none;
                outline: none !important;
                margin-left: 10px;
            }
    </style>
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Lista de Clientes registrados</h2>
            </div>
        </div>

    </div>
    <div class="table-responsive">
        <table id="TableEmployee" class="table table-avance table-striped ">
            <thead class="table-dark">
                <tr>
                    <th class="">
                        Primer Nombre
                    </th>
                    <th class="">
                        Segundo Nombre
                    </th>
                    <th class="">
                        Primer Apellido
                    </th>
                    <th class="">
                        Segundo Apellido
                    </th>
                    <th class="">
                        Identificacion del Cliente
                    </th>
                    <th class="">
                        Correo del cliente
                    </th>
                    <th class="">
                        Direccion del cliente
                    </th>
                </tr>
            </thead>
            <tbody class=" ">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_name1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_name2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_lastname1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_lastname2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_id_card)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_direcction)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center ">
        @Html.ActionLink("Volver", "Index", new { @class = "btn btn-default mr-2" })
    </div>
</div>

